#
# Ci-dessous les variables pour configurer les conteneurs de convergence-docker
# Marche à suivre:
#   il faut copier ce fichier dans un fichier .env
#   avant de démarrer l'application avec docker-compose up
#

######################################################
# Paramètres globaux
######################################################
MEM_LIMIT=8g
CPU_LIMIT=1

SPRING_PROFILES_ACTIVE=test

SUDOC_API_VERSION=main-sudoc-api
BESTPPNAPI_VERSION=main-best-ppn-api


######################################################
# Paramétrage de sudoc-api
######################################################
SUDOC_API_HTTP_PORT=

SUDOC_API_SPRING_DATASOURCE_BASEXML_JDBCURL=
SUDOC_API_SPRING_DATASOURCE_BASEXML_USERNAME=
SUDOC_API_SPRING_DATASOURCE_BASEXML_PASSWORD=

API_SPRING_DATASOURCE_HIKARI_MAXIMUM_POOL_SIZE=100

##############################################
#   BEST PPN API
##############################################
LOGSKBART_API_PATH_TSVFILE=/applis/bacon/toLoad/
BEST_PPN_API_HTTP_PORT=
KAFKA_BOOTSTRAP_SERVERS=
KAFKA_REGISTRY_URL=
KAFKA_CONCURRENCY_NBTHREAD=14

BEST_PPN_API_SUDOC_API_SPRING_DATASOURCE_BASEXML_JDBCURL=
BEST_PPN_API_SUDOC_API_SPRING_DATASOURCE_BASEXML_USERNAME=
BEST_PPN_API_SUDOC_API_SPRING_DATASOURCE_BASEXML_PASSWORD=

BACON_JDBCURL=
BACON_USERNAME=
BACON_PASSWORD=
MAIL_WS_URL=
MAIL_WS_RECIPIENT_KBART_2_BACON=
SERVEUR_URL=

######################################################
# Paramétrage de convergence-watchtower
######################################################
# Pour les notifications slack des déploiements continus de convergence
# cf https://containrrr.dev/watchtower/notifications/#slack
# A noter : penser à indiquer le nom de l'environnement dev, test, prod
# au niveau de la variable WATCHTOWER_NOTIFICATION_SLACK_IDENTIFIER pour pouvoir
# mieux distinguer sur quel machine a été réalisé le déploiement
# - en local laisser CONVERGENCE_WATCHTOWER_RUN_ONCE=true
# - en dev, test, prod, positionner CONVERGENCE_WATCHTOWER_RUN_ONCE=false
CONVERGENCE_WATCHTOWER_NOTIFICATION_SLACK_HOOK_URL=https://hooks.slack.com/services/xxxxxxxxxx/YYYYYYYYYYYYYYY/ZZZZZZZZZZZZZZZZ
CONVERGENCE_WATCHTOWER_NOTIFICATION_SLACK_IDENTIFIER=localhost convergence-watchtower
CONVERGENCE_WATCHTOWER_RUN_ONCE=true
